footer {
    width: 100%;
    background-color: rgba(105,105,105,0.5);
    border-radius: 0 0 10px 10px;
    text-align: center;
}

.body-content {
    /*background-color: rgba(32, 30, 39,0.5);*/
    /*width: 90%;*/
    /*margin: 0 auto;*/
    /*!*border-radius: 5%;*!*/
    text-align: center;
}



#mainconfig {
    width: 100%;
    /*background-color: rgba(105,105,105,0.5);*/
    text-align: center;
    height: 100%;
}
#options {
    width: 45%;
/*
    margin: 5px 0 0 0;
    padding: 0;
    background-color: rgba(255,255,255,0.5);
    */
    display: inline-block;
}
#config {
    width: 45%;
    height: 500px;
    margin: 5px 0 0 0;
    padding: 0;
    background-color: rgba(255,255,255,0.5);
    display: inline-block;
    text-align: center;
}
.rightDivs {
    width: 90%;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
}
iframe {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: inherit;
    border-style: none;
}

#set_options,#settings {
    border-radius: 1px;
    border-color: black;
    border-style: solid;
    width: 47%;
    float: right;

}

/* JSBin --------- */

#iframe_div {
    width: 100%;
    height: 300px;
}
#main {
    background-color: red;
    width:100%;
    height:600px;
}
#choose_button_div {
    float: left;
    margin-left:45px;
}
#done_button_div {
    float: right;
    margin-right:45px;
}
#done_button {
    width: 100%;
    height: 50px;
    opacity: 0;
}
#files {
    width: 100%;
    height: 30px;
    opacity: 0;
}
#choose_button_div,#done_button_div {
    line-height:30px;
    height:30px;
    width: 40%;
    background-color: gray;
    text-align:center;
    position:relative;
    border: 2px solid black;
    margin-top:3px;
}
label {
    text-align: center;
    position:absolute;
    width: 100%;
    height:30px;
    border-radius: 10px;
}
#buttons_div,#options {

    width:100%;
    background-color: blue;
}
#buttons_div {
    height: 40px;
    background-color: #0e6f5c;
}

#options {
    text-align:center;
    /*
    padding-top: 20px;
    margin-top: 50px;
    */
}

.image-preview {
    height:30%;
    width:30%;
    background-color: gray;
    border: 1px solid black;
    display: inline-block;
}

#settings {
    float: left;
}

form {
    margin: 0;
    padding: 0;

}
#settings-options {
 display: block;
}
.settings-options-li {
    display: list-item;
}

#video-index {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    z-index: -9999;
    top:50%;
    left: 50%;
    transform: translateX(-50%)
    translateY(-50%);
    background: #000;
}

#main-index,
.admin-user-template,
.category-template,
.site-config-template,
.article-template,
.error-template,
.user-template,
#main-list-articles,
#main-tag-articles{
    background: rgba(0,0,0,0.5);
    padding: 2rem;
    width: 75%;
    height: 100%;
    margin: 0 auto 0 auto;
}

html,body {
  /*//  background-image: image("http://www.hdwallpapers.in/download/fury_darksiders_3_4k_8k-3840x2400.jpg");*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    background: transparent;
    color: #fff;
}

#main-menu-ul,
#admin-menu {
    display: inline-block;
    width: 90%;
    margin: auto;
    padding: 0;
    /*padding: 2em;*/
    text-align: center;
}
#main-menu-ul > li,
#admin-menu > li,section {
    display: inline-block;
    color: #fff;
    text-align: center;
    text-decoration: none;
    /*padding: 1em 2em;*/
    /*margin-right: 1em;*/
    border: 0 dashed #fff;
    transition: border .5s;
}
#main-menu-ul > li:hover,
#admin-menu > li:hover {
    /*border-bottom: .5em solid #c00;*/
}
#admin-menu > li > a {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
header {
    text-align: center;
}
.navbar,.container,.collapse {
    padding: 0;
    margin: 0;
}

#chat_box {
    resize: none;
    margin: 0;
    border: none;
    padding: 0;
}
#chat_wrapper {
    margin: 0 auto;
}
.chat_tools {

}
#chat_buttons_wrapper {
    margin: 0 auto;
    padding: 0 5px 0 5px;
    text-align: left;
}
.chat_buttons {
    margin: 0;
    border-radius: 0%;
    border-style: none;
    width: 50px;
}
#chat_input {
    width: 70%;
    margin: 0;
    border: none;
}
#main-chat-main {
    background-color: #b62516;
}